{% extends 'base.html' %}

{% block content %}

{% load static %}

<form method="post">{% csrf_token %}
    
    <div class="mt-5 w-50 container shadow p-4 rounded border-top border-primary">
        <label><h1>Nome do Curso</h1></label>
        <input name="curso" class="form-control" placeholder="Curso" required></input>
    </div>

    <div id="mainContainer" class="container mt-5">
        <div id="periodoContainer-1" class="d-flex gap-2 mb-3">
            <div class="periodo container shadow p-4 rounded border-top border-primary">
                <div id="header-1" class="d-flex gap-3 mb-2 align-items-center justify-content-between">
                    <h2>1° Período</h2>
                    <button id="periodoRemove-1" class="btn btn-outline-primary periodoRemove disabled" type="button">- Remover Período</button>
                </div>
                <div id="disciplinaContainer-1">
                    <div id="group1-1" class="disciplina d-md-flex gap-2 mb-2">
                        <input name="nome1-1" class="form-control" placeholder="Nome" required></input>
                        <input name="tipo1-1" class="form-control w-50" placeholder="Tipo" required></input>
                        <input name="categoria1-1" class="form-control w-75" placeholder="Categoria" required></input>
                        <input name="carga-horaria1-1" class="form-control w-50" type="number" placeholder="Carga-horária" min="0" required></input>
                        <button id="delete1-1" type="button" class="delete btn btn-danger rounded-circle disabled">&times;</button>
                    </div>
                </div>
                <div id="footer1" class="d-flex justify-content-between mt-3">
                    <button id="disciplinaAdd-1" type="button" class="disciplinaAdd btn btn-outline-primary">+ Adicionar Disciplina</button>
                    <button id="periodoAdd-1" class="periodoAdd btn btn-outline-primary" type="button">+ Adicionar Período</button>
                </div>
            </div>
            
            <div id="arrowContainer-1" class="d-flex flex-wrap align-content-between">
                <button id="up-1" type="button" class="up btn btn-primary disabled shadow h-25">
                    <img src="{% static 'assets/arrow-up.svg' %}" />
                </button>
                <button id="down-1" type="button" class="down btn btn-primary disabled shadow h-25">
                    <img src="{% static 'assets/arrow-down.svg' %}" />
                </button>
            </div>
        </div>
    </div>
    <div class="container-sm">
        <button id="concluir" class="btn btn-primary mb-3 me-2" type="submit">Gerar grade</button>
        <a href="{% url 'index' %}" class="btn btn-secondary mb-3" type="submit">Cancelar</a>
    </div>
</form>

<div id="extraButtons">
    <button id="periodoRemove-0" class="btn btn-outline-primary periodoRemove" type="button" style="display: none;">- Remover Período</button>
    <button id="disciplinaAdd-0" type="button" class="disciplinaAdd btn btn-outline-primary" style="display: none;">+ Adicionar Disciplina</button>
    <button id="periodoAdd-0" class="periodoAdd btn btn-outline-primary" type="button" style="display: none;">+ Adicionar Período</button>
    <button id="delete0-0" type="button" class="delete btn btn-danger rounded-circle disabled" style="display: none;">&times;</button>
    <button id="up-0" type="button" class="up btn btn-primary shadow h-25 disabled" style="display: none;">
        <img src="{% static 'assets/arrow-up.svg' %}" />
    </button>
    <button id="down-0" type="button" class="down btn btn-primary shadow h-25 disabled" style="display: none;">
        <img src="{% static 'assets/arrow-down.svg' %}" />
    </button>
</div>

<script src="{% static 'js/button_manager.js' %}">
    
</script>

{% endblock %}