{% extends "base.html" %}

{% block content %}

{% load static %}

<link href="{% static "css/table.css" %}" rel="stylesheet">

<div class="d-flex justify-content-center mt-5">
    <form method="get">
        <button name="baixar" type="submit" class="btn btn-primary">Baixar Imagem</button>
    </form>
</div>

<div style="margin-top: 2rem; position: absolute; left:50%; transform: translate(-50%); width: 50rem;">

    <table style="width:100%;">
        <thead>
            <tr>
                <th colspan="5" align="center" class="modalidade">Modalidade a Distância</th>
            </tr>

            <tr>
                <th colspan="5" align="center" class="disciplina">{{nome_curso|upper}}</th>
            </tr>

            <tr align="center">
                <th align="center" class="cabecalho">Período</th>
                <th align="center" class="cabecalho">Nome</th>
                <th align="center" class="cabecalho">Tipo</th>
                <th align="center" class="cabecalho">Categoria</th>
                <th align="center" class="cabecalho">Carga-horária</th>
            </tr>
        </thead>

        <tbody>
            {% for disciplina in disciplina_list %}
            <tr>
            {%if disciplina.periodo|divisibleby:2%}
                <td class="par">{{disciplina.periodo}}</td>
                <td class="par">{{disciplina.nome}}</td>
                <td class="par">{{disciplina.tipo}}</td>
                <td class="par">{{disciplina.categoria}}</td>
                <td class="par">{{disciplina.carga_horaria}}</td>
            {% else %}
                <td class="impar">{{disciplina.periodo}}</td>
                <td class="impar">{{disciplina.nome}}</td>
                <td class="impar">{{disciplina.tipo}}</td>
                <td class="impar">{{disciplina.categoria}}</td>
                <td class="impar">{{disciplina.carga_horaria}}</td> 
            {% endif %}  
            </tr>
            {% endfor %}
        </tbody>  
    </table>
</div>

<script>
    $('button').click(function(){
        $('button').attr('value', $('body').children().eq(3).html())
    })
</script>

{% endblock %}