{% extends "base.html" %}

{% block content %}
{% load static %}

<link href="{% static "css/table.css" %}" rel="stylesheet">


<div>
    {{nome_curso|upper}}
</div>
<div>
    Modalidade a Distância
</div>
<div class="d-flex">
    <div>Período</div>
    <div>Nome</div>
    <div>Tipo</div>
    <div>Categoria</div>
    <div>Carga-horária</div>
</div>

<div style="position: absolute; left:50%; transform: translate(-50%);">

    <table style="width:50rem;">
        <thead>

            <tr>
                <th colspan="5" align="center" class="modalidade">Modalidade a Distância</th>
            </tr>

            <tr>
                <th colspan="5" align="center" class="disciplina">{{nome_curso}}</th>
            </tr>

            <tr align="center">
                <th align="center" class="cabecalho">Período</th>
                <th align="center" class="cabecalho">Nome</th>
                <th align="center" class="cabecalho">Tipo</th>
                <th align="center" class="cabecalho">Categoria</th>
                <th align="center" class="cabecalho">Carga-horária</th>
            </tr>
        </thead>

        <tbody>
            {% for disciplina in disciplina_list %}
            <tr>
            {%if disciplina.periodo|divisibleby:2%}
                <td class="par">{{disciplina.periodo}}</td>
                <td class="par">{{disciplina.nome}}</td>
                <td class="par">{{disciplina.tipo}}</td>
                <td class="par">{{disciplina.categoria}}</td>
                <td class="par">{{disciplina.carga_horaria}}</td>
            {% else %}
                <td class="impar">{{disciplina.periodo}}</td>
                <td class="impar">{{disciplina.nome}}</td>
                <td class="impar">{{disciplina.tipo}}</td>
                <td class="impar">{{disciplina.categoria}}</td>
                <td class="impar">{{disciplina.carga_horaria}}</td> 
            {% endif %}  
            </tr>
            {% endfor %}
        </tbody>  
    </table>
    
</div>

{% endblock %}